In [11]:
import pandas as pd

al_con = pd.read_csv('Alcohol_consumption.csv')

In [12]:
import matplotlib.pyplot as plt
import seaborn as sns

color_pallete = ["#edf8fb", "#b3cde3", "#8c96c6", "#8856a7",
                 "#810f7c"]

sns.set_style("dark")
display(sns.color_palette(color_pallete))

sns.set_palette(sns.color_palette(color_pallete))

[(0.9294117647058824, 0.9725490196078431, 0.984313725490196),
 (0.7019607843137254, 0.803921568627451, 0.8901960784313725),
 (0.5490196078431373, 0.5882352941176471, 0.7764705882352941),
 (0.5333333333333333, 0.33725490196078434, 0.6549019607843137),
 (0.5058823529411764, 0.058823529411764705, 0.48627450980392156)]

In [13]:
al_con

     LOCATION INDICATOR SUBJECT   MEASURE FREQUENCY  TIME  Value Flag Codes
0         AUS   ALCOHOL     TOT  LT_CAP15         A  1960    9.3        NaN
1         AUS   ALCOHOL     TOT  LT_CAP15         A  1961    9.4        NaN
2         AUS   ALCOHOL     TOT  LT_CAP15         A  1962    9.5        NaN
3         AUS   ALCOHOL     TOT  LT_CAP15         A  1963    9.8        NaN
4         AUS   ALCOHOL     TOT  LT_CAP15         A  1964   10.1        NaN
...       ...       ...     ...       ...       ...   ...    ...        ...
2747      ROU   ALCOHOL     TOT  LT_CAP15         A  2015    9.5        NaN
2748      ROU   ALCOHOL     TOT  LT_CAP15         A  2016    9.6        NaN
2749      ROU   ALCOHOL     TOT  LT_CAP15         A  2017   10.1        NaN
2750      ROU   ALCOHOL     TOT  LT_CAP15         A  2018   11.0        NaN
2751      ROU   ALCOHOL     TOT  LT_CAP15         A  2019   11.0        NaN

[2752 rows x 8 columns]

In [14]:
al_con.drop('Flag Codes', axis=1, inplace=True)

In [15]:
al_con.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2752 entries, 0 to 2751
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   LOCATION   2752 non-null   object
 1   INDICATOR  2752 non-null   object
 2   SUBJECT    2752 non-null   object
 3   MEASURE    2752 non-null   object
 4   FREQUENCY  2752 non-null   object
 5   TIME       2752 non-null   int64
 6   Value      2752 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 150.6+ KB

In [17]:
al_con.isna().sum()

LOCATION     0
INDICATOR    0
SUBJECT      0
MEASURE      0
FREQUENCY    0
TIME         0
Value        0
dtype: int64