In [1]:
import pandas as pd

smokers = pd.read_csv('Daily_smokers.csv')

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

color_pallete = ["#edf8fb", "#b3cde3", "#8c96c6", "#8856a7",
                 "#810f7c"]

sns.set_style("dark")
display(sns.color_palette(color_pallete))

sns.set_palette(sns.color_palette(color_pallete))

[(0.9294117647058824, 0.9725490196078431, 0.984313725490196),
 (0.7019607843137254, 0.803921568627451, 0.8901960784313725),
 (0.5490196078431373, 0.5882352941176471, 0.7764705882352941),
 (0.5333333333333333, 0.33725490196078434, 0.6549019607843137),
 (0.5058823529411764, 0.058823529411764705, 0.48627450980392156)]

In [3]:
smokers

     LOCATION INDICATOR SUBJECT   MEASURE FREQUENCY  TIME  Value Flag Codes
0         AUS   SMOKERS     TOT  PC_POP15         A  1964   43.0        NaN
1         AUS   SMOKERS     TOT  PC_POP15         A  1966   40.0        NaN
2         AUS   SMOKERS     TOT  PC_POP15         A  1969   37.0        NaN
3         AUS   SMOKERS     TOT  PC_POP15         A  1974   37.8        NaN
4         AUS   SMOKERS     TOT  PC_POP15         A  1976   38.4        NaN
...       ...       ...     ...       ...       ...   ...    ...        ...
2705      ROU   SMOKERS     TOT  PC_POP15         A  2014   19.8        NaN
2706      ROU   SMOKERS     TOT  PC_POP15         A  2019   18.7        NaN
2707      ROU   SMOKERS   WOMEN  PC_POP15         A  2008    9.1        NaN
2708      ROU   SMOKERS   WOMEN  PC_POP15         A  2014    8.3        NaN
2709      ROU   SMOKERS   WOMEN  PC_POP15         A  2019    7.5        NaN

[2710 rows x 8 columns]

In [5]:
smokers.drop('Flag Codes', axis=1, inplace=True)

In [6]:
smokers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2710 entries, 0 to 2709
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   LOCATION   2710 non-null   object
 1   INDICATOR  2710 non-null   object
 2   SUBJECT    2710 non-null   object
 3   MEASURE    2710 non-null   object
 4   FREQUENCY  2710 non-null   object
 5   TIME       2710 non-null   int64
 6   Value      2710 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 148.3+ KB

In [7]:
smokers.isna().sum()

LOCATION     0
INDICATOR    0
SUBJECT      0
MEASURE      0
FREQUENCY    0
TIME         0
Value        0
dtype: int64